<script>
    // Imports
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";
  
    export let data = [];
    // extract dates, gas, and electricity data from full dataset
    let dates = data.map(d => new Date(2014, 11, d.day, d.hour));
    let gas = data.map(d => d.total_gas);
    let electricity = data.map(d => d.total_electrity);
    
    // define leaf size
    let leafWidth = 250;
    let leafHeight = 100;

    // create scales, NOTE: both electric and gas have the same scale.  They are only separate because they need
    // to be mirror images.
    let xScale = scaleTime().domain(extent(dates)).range([0, leafWidth])
    let yScaleElec = scaleLinear().domain([0, max([max(electricity), max(gas)])]).range([leafHeight/2,0])
    let yScaleGas = scaleLinear().domain([0, max([max(electricity), max(gas)])]).range([leafHeight/2,leafHeight])

    // functions to calculate area for paths.  Again virtually the same just inverted y scales.
    let calcElec = area().x(d => xScale(new Date(2014, 11, d.day, d.hour))).y0(yScaleElec(0)).y1(d => yScaleElec(d.total_electrity))
    let calcGas = area().x(d => xScale(new Date(2014, 11, d.day, d.hour))).y0(yScaleGas(0)).y1(d => yScaleGas(d.total_gas))

</script>

<svg>
    <path d={calcElec(data)} fill=blue/>
    <path d={calcGas(data)} fill=orange/>
</svg>
