<script>

    import { scaleRadial } from 'd3-scale';
    export let data = []
    export let plotHeight;
    export let plotWidth;
    export let yScale;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    // I tried a radial scale but it came out kinda funky, idk if I like it
    $: circScale = scaleRadial().domain([0,364]).range([0, 2*Math.PI])

    // method to generate path of circle, uses scaling 
    let genPath = (d) => {
        let path = "M " 
        d.forEach((value, idx) => {
            path = path + " " + yScale(value)*Math.cos(circScale(idx)) + "," + yScale(value)*Math.sin(circScale(idx))
        })
        path += " Z"
        return path;
    }

  </script>
  
{#each Object.keys(data) as i}
    <line x1={plotWidth/2} y1={margin.top} x2={plotWidth/2} y2={plotHeight-margin.bottom} />
    <line x1={margin.left} y1={plotHeight/2} x2={plotWidth-margin.right} y2={plotHeight/2} /> 
    
    <text x={plotWidth/2-3} y={margin.top-2} >0</text>
    <text x={plotWidth-8} y={plotHeight/2+4} >3</text>
    <text x={plotWidth/2-3} y={plotHeight} >6</text>
    <text x={margin.left-8} y={plotHeight/2+4} >9</text>
    
    <g transform="translate({plotWidth/2},{plotHeight/2}) rotate(-90 0 0)" >
        <circle x={plotWidth/2} y={plotHeight/2} r={plotWidth/2} fill='none' stroke='black' />
        <path d={genPath(data['cooling'])} fill='blue' fill-opacity=0.5 />
        <path d={genPath(data['heating'])}  fill='red' fill-opacity=0.5 />
        
        {#each data['day'] as idx}
             <line cx={yScale(data['cooling'][idx])*circScale(idx)} cy={yScale(data['cooling'][idx])*circScale(idx)} r=2/>
             <line cx={yScale(data['heating'][idx])*circScale(idx)} cy={yScale(data['heating'][idx])*circScale(idx)} r=2/>
        {/each}
    </g>

{/each}


