<script>

  export let location = "Baltimore";
  export let scaling = 1;

  let cities = ["Baltimore", "Chicago", "Los Angeles"];

  </script>
     
    <div class="col">
        {#each cities as c}
            <label>
                <input type=radio name="location" bind:group={location} value={c}>
                {c}
            </label>
            <br/>
        {/each}
    </div>
