<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleOrdinal } from "d3-scale";
  import { schemeAccent } from "d3-scale-chromatic";

  import Button from "./buttons_design_1.svelte";
  import Plot from "./lines_design_1.svelte";

  // set basic vars and color scheme
  const width = 600;
  const height = 425;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  let tableau = scaleOrdinal(schemeAccent);

  let datapoints = null;
  let buildingtypes = null;
  let selection = null;
  // set arbitrary beginning location
  let location = "Baltimore";
  let scale = 1;
  
  // Load
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
    buildingtypes = [... new Set (datapoints.map(d => d.buildingtype))];
  });

  // data needs to be filtered to just current city
  function wrangleData(dataset, loc) {
    if (dataset != null) {
      selection = dataset.filter(d => d.city == loc);
    }
  }

  // listener to which city is current filter
  $: wrangleData(datapoints, location); 

  // I wasn't able to get scaling to work. Sorry!
  
</script>


{#if !datapoints}
  <p>Please wait...</p>
{:else}
  <div>
    <div>
      <Button bind:location={location} bind:scaling={scale}/>
    </div>
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
            {#each buildingtypes as type, i}
              <g transform="translate(125,{10+(i*25)})">
                  <Plot dataset={selection} boolScaling={scale} type={type} tableau={tableau}/>
              </g>
            {/each}  
      </g>
    </svg>
  </div>
{/if}
