<script>
	import { scaleLinear } from 'd3-scale';
    import { extent } from 'd3-array';
	import { json } from "d3-fetch";
	import { onMount } from "svelte";
  
	import Circle from './_design_2_Circle.svelte';

	const width = 600;
	const height = 250;
	let plotWidth = 175;
	let plotHeight = 175;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
	let data = [];
  let newData = {}

	onMount(async () => {
		data = await json("/data/daily_heating_cooling.json");

    // Load data into a better structure
    data.forEach((d) => {
      if ( !(d.city in newData)) {
        newData[d.city] = {}
      }
      if ( !(d.day in newData[d.city])) {
        newData[d.city]['day'] = []
      }
      if ( !(d.heating in newData[d.city])) {
          newData[d.city]['heating'] = []
      }
      if ( !(d.cooling in newData[d.city])) {
          newData[d.city]['cooling'] = []
      }
    })

    // push data to the correct locations
    data.forEach((d) => {
      newData[d.city]['day'].push(d.day)
      newData[d.city]['heating'].push(d.heating)
      newData[d.city]['cooling'].push(d.cooling)
    })
    });

  // set up listeners for scalers.  These will allow the scaling to be performed correctly.
	$: minVals = Math.min(extent(data.map((d) => d.heating))[0], extent(data.map((d) => d.cooling))[0]);
	$: maxVals = Math.max(extent(data.map((d) => d.heating))[1], extent(data.map((d) => d.cooling))[1]);
  $: yScale = scaleLinear().domain([minVals, maxVals]).range([0, plotHeight/2.5])
</script>


<svg {width} {height} >
	<g>
		{#each Object.keys(newData) as curCity, city_idx}
			<g transform="translate({margin.left+(plotWidth+10)*city_idx},{margin.top+10})" style="font: 15px serif">
				<Circle data={newData[curCity]} {plotWidth} {plotHeight}  {yScale} />
        <text>{curCity}</text>
			</g>
	  {/each}
	</g>
</svg>