<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
 
  import Leaf from "./_design_3_leaf.svelte";

  // Size and margins
  let width = 800;
  let height = 600;
  let margin = { top: 10, right: 10, bottom: 10, left: 10 };
  let innerWidth = width - margin.left - margin.right;
  let innerHeight = height - margin.top - margin.bottom;
  let midPoint = innerWidth / 2;


  // Load data
  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

</script>


{#if !data}
  <p>Please Wait...</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      
      <g transform="translate({(innerWidth/2)-margin.left+10},350)">
        <Leaf data={data.filter(d => d.week == 48)}/>
          <text transform="translate(300,0)">Week 48</text>
      </g>
      <g transform="translate({(innerWidth/2)+margin.left-10},275) scale(-1,1)">
        <Leaf data={data.filter(d => d.week == 49)}/>
          <text transform="translate(300,0) scale(-1,1)">Week 49</text>
      </g>
      <g transform="translate({(innerWidth/2)-margin.left+10},200)">
        <Leaf data={data.filter(d => d.week == 50)}/>
          <text transform="translate(300,0)">Week 50</text>
        </g>
        <g transform="translate({(innerWidth/2)+margin.left-10},125) scale(-1,1)">
          <Leaf data={data.filter(d => d.week == 51)}/>
            <text transform="translate(300,0) scale(-1,1)">Week 51</text>
        </g>
      <g transform="translate({(innerWidth/2)-margin.left+10},10)">
        <Leaf data={data.filter(d => d.week == 52)}/>
          <text transform="translate(300,0)">Week 52</text>
      </g>  
      <g fill="none" stroke="black" stroke-width="6"></g>

      <line x1={midPoint} x2={midPoint} y1={innerHeight} y2={0}
      style="stroke-width:1; stroke:brown;"/>
  </svg>
{/if}