<script>
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent } from "d3-array";

    export let dataset = [];
    export let type;
    export let tableau;
    export let boolScaling = 1;

    function selectData(type, datafile) {
        return datafile.filter(d => d.buildingtype == type)
    }

    let data = selectData(type, dataset);
    $: data = selectData(type, dataset);

    const yScaleWithin = scaleLinear().domain(extent(dataset.map(d => d.total_heating_energy))).range([0.5, 15]);

    const yScaleBetween = scaleLinear().domain(extent(data.map(d => d.total_heating_energy))).range([0.5, 12]);

    const xScale = scaleTime().domain(extent(dataset.map(d => new Date(2014, 11, d.day, d.hour)))).range([0, 450]);

    const violinChartWithin = area().x(d=>xScale(new Date(2014, 11, d.day, d.hour))).y0(d=>-yScaleWithin(d.total_heating_energy)).y1(d=>yScaleWithin(d.total_heating_energy))

    const violinChartBetween = area().x(d=>xScale(new Date(2014, 11, d.day, d.hour))).y0(d=>-yScaleBetween(d.total_heating_energy)).y1(d=>yScaleBetween(d.total_heating_energy))
</script>

<g height="250">
    <g transform="translate(+310,0)" dominant-baseline="central"
    style="font: 15px fantasy">
        <text>{type}</text>
    </g>
    <g transform="translate(-150,0)">
        {#if boolScaling == 1}
            <path d={violinChartWithin(data)} fill = {tableau(type)}></path>
        {:else}
            <path d={violinChartBetween(data)} fill = {tableau(type)}></path>
        {/if}
    </g>
</g>
