<script>
  let current = "";
</script>

<style>
  .click {
    background-color: red;
  }
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")} class:click={current=='messi'}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")} class:click={current=='ronaldo'}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")} class:click={current=='neymar'}>
  Neymar
</button>