<script>
 function calcCirc (radius) {
     return 2*Math.PI*radius;
 }

 const curRadius = 2
</script>

<p>
    The circumference of a circle with radius {curRadius}m is {calcCirc(curRadius).toFixed(2)}m.
</p>