<script>
  import { onMount } from 'svelte';

  export let year = 0;
  $: text = "Start";
  let start = true;
  let intervId;
  export let current=[];

  onMount(async () => {
  const data_await = await fetch('/data/gapminder.json');
  fullData=await data_await.json();
  ready=true;
  });

  function incYear() {
    year += 1;
    if (year > 215) {
      year = 0;
    }
  }

  function clickButton() {
    if (start == true) {
      start = false;
      text = "Stop";
      intervId = setInterval(incYear, 100);
    }
    else {
      start = true;
      text = "Start";
      clearInterval(intervId);
    }
  }

  function resetButton() {
    text = "Start";
    start = true;
    clearInterval(intervId);
    year = 0;
  }

  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];

  $: selected="all";
  $: current=[year,selected]


</script>

<div class="row">
<div class="col">

  <button class="btn btn-primary" on:click={clickButton}> {text} </button>

  <input class="btn btn-primary" type="button" on:click={resetButton} value="Reset">

  <p>Year: {1800+year}</p>
  <input type="range" min="0" max="215" bind:value={year} />

  <div class="col">
    <select bind:value={selected}>
      <option value="all">all</option>
      {#each continents as continent}
      <option value={continent}>{continent}</option>
      {/each}
    </select>
  </div>  

</div>
</div>
