<script>

  let intervId;

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let ready;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "red";

  function intervalSetter() {
    intervId = setInterval(changeColor, 1000);
  }

  function changeColor() {
    index -= 1;
    if (index < 0) {
      clearInterval()
      color = "green"
    }
  }

  ready = true;

</script>

<style>
  .red_on{opacity:1;}
  .red_off{opacity:0.3;}
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#if ready }
    {#each points as point, curIdx}
    <circle cx={point} cy={innerHeight/2} r=10 class:red_on="{curIdx>=index}" class:red_off="{curIdx<index}" fill={color}/>
    {/each}
    {intervalSetter()}
    {/if}
  </g>
</svg>
