<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  $: current=[0,"all"];
  let year = 0;
  $: continent=current[1];
  $: extractData=function(element){
  if(continent=="all"){return element[year].countries}
  else{
    return element[year].countries.filter(d=>d.continent==continent)
   }
  }



  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={extractData(data)} />
    <Controls bind:year data={data}/>
  </div>
{/if}
