<script>
  import {scaleLog} from 'd3-scale';
  import {select} from 'd3-selection';
  import {axisBottom} from 'd3-axis';

  // Array
   const values = [2, 4, 6, 7, 9];

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 30, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const scaleX = scaleLog().domain([1, 10]).range([0,800])
  
 function makeXaxis(element){
    let xaxis=axisBottom(scaleX);
    select(element).call(xaxis);
 }

 </script>

<style>
  circle {
    fill: red;
  }
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as dp}
    <circle cx={scaleX(dp)} cy="50" r=10 />
  {/each}
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:makeXaxis>
</svg>
