<script>
    import { onMount } from 'svelte';
    import Scatterplot from "./_ex_7_scatterplot.svelte";
    let ready;
    let fullData=[];
    onMount(async () => {
    const data_await = await fetch('/data/gapminder.json');
    fullData=await data_await.json();
    ready=true;
    });
</script>

{#if ready } 
<Scatterplot data={fullData[0].countries} />
{:else}
<p>Please wait, loading</p>
{/if}